html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #f5f6f8;

  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --grey: #a4a4a4;
  --grey-light: #ebebeb;
  --grey-dark: #787d85;
  --white: white;
  --primary: #7654fc;
  --primary-hover: #332569;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans', sans-serif;
}
